<div class="card bg-secondary text-white mb-4">
  <div class="card-body">
    <h1>Hello World</h1>
    <p>Find me in app/views/home/index.html.erb</p>
  </div>
</div>


<div class="card">
  <div class="card-body">
    <% @questions.each do |q| %>
      <div class="media mb-3">
        <img class="mr-3" src="<%= q.gravatar %>" alt="User avatar">
        <div class="media-body">
          <h5 class="my-0 mt-0"><%= q.email %> asked:</h5>
          <span class="small"><%= time_ago_in_words q.created_at %> ago</span>
          <div><%= q.body %></div>
          <div class="py-2">
            <a href="<%= question_path(q) %>" class="btn btn-xs btn-outline-dark">View Answers</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>